<div>
    <div>
        <a href="/">Express Movies</a>
        <a href="/movies">Films</a>
        &nbsp;
        <a href="/movie-search">Recherche front</a>
        &nbsp;
        <a href="/search">Recherche back</a>
    </div>
</div>