<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Accueil</title>
</head>

<body>
    <div class="container">
        <%- include('./partials/header') %>
        <h1>Details du film numéro <%= moviesId %></h1>
        <p>Titre : <%= title %></p>
    </div>

    <%- include('./partials/footer') %>
</body>

</html>